# Unreal transient/build
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/*/Binaries/
Build/*/Intermediate/

# Python
.venv/
__pycache__/
*.pyc

# IDE/OS clutter
.vs/
.vscode/
.idea/
*.sln
*.suo
*.VC.db
*.VC.opendb
.DS_Store
Thumbs.db

# Packaged & autosaves
Saved/Autosaves/
Packaged/
Releases/
/Plugins/VRM4U/.github/ISSUE_TEMPLATE
/Plugins/VRM4U
